html, body {
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #223D72;
}

.nav-logo {
  height: 4rem;
  width:auto;
}

.chartsContainer {
  height: 100%;
}

.bodyContainer {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.columnA {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 45%;
}

.columnB {
  flex-basis: 55%;
}

.rowA, .rowB {
  display: flex;
  flex-direction: row;
}

.rowB {
  margin-top: .2em;
  height: 32em;
}

.MuiToolbar-root {
  border-bottom: 5px solid #ABCC6D!important;
}

.currentValue {
  font-size:5em;
}

.tempTitle {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-content: center;
  font-size: 1.2em;
  height: 1.8em;
  padding: .5em;
}

.concTitle {
  height: 1.8em;
  padding: .5em;
  font-size: 1.2em;
  white-space:nowrap;
}

@media screen and (max-width:1024px){
  .unitButton {
    font-size: .6em!important;
    padding: 5px!important;
  }
}

.unitButton {
  white-space:nowrap;
}

.limitsTitle {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  font-size: 1.2em;
  height: 1.8em;
  padding: .5em;
}

.placeholder{
  width:2.5em;
}

.limitContainer {
  height: 14em;
}

.minMaxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .8em;
}

.minMaxTitle {
  font-size: 1.1em;
  padding: .4em;
}

.limitValue {
  font-size: 3em;
}

.minMaxLabel {
  padding: 1em;
  padding-top:1.4em;
  margin-left: -3em;
  text-decoration: underline;
}

.dataTable * {
  color: white!important;
}

.MuiTableCell-sizeSmall {
  padding: 1.05em!important;
}

.MuiTableBody-root:last-child td{
  border: 0!important;
}

tr {
  border-bottom: 1px solid white;
}

tr:last-child {
  border-bottom: 0;
}

.concChart {
  background-color: white;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.canvasContainer {
  margin: .5em;
}
