html, body {
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default background color */
body {
  background-color: #223D72;
}

/* KYZEN logo resize */
.nav-logo {
  height: 4rem;
  width:auto;
}

/* Body container height and flex */
.bodyContainer {
  height: 90%;
  display: flex;
  flex-direction: row;
}

/* Left side of display */
.columnA {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 45%;
}

/* Right side of display */
.columnB {
  flex-basis: 55%;
}

/* Rows for left side of display */
.rowA, .rowB {
  display: flex;
  flex-direction: row;
}

/* Bottom left row */
.rowB {
  margin-top: .2em;
  height: 32em;
}

/* Universal Toolbar bottom border */
.MuiToolbar-root {
  border-bottom: 5px solid #ABCC6D!important;
}

/* Font size for current value display */
.currentValue {
  font-size:5em;
}

/* Current temperature title */
.tempTitle {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-content: center;
  font-size: 1.2em;
  height: 1.8em;
  padding: .5em;
}

/* Current concentration title */
.concTitle {
  height: 1.8em;
  padding: .5em;
  font-size: 1.2em;
  white-space:nowrap;
}

/* Additional responsive styling for unit change button */
@media screen and (max-width:1024px){
  .unitButton {
    font-size: .6em!important;
    padding: 5px!important;
  }
}

/* No text wrap on unit change button */
.unitButton {
  white-space:nowrap;
}

/* MIN/MAX limit header */
.limitsTitle {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  font-size: 1.2em;
  height: 1.8em;
  padding: .5em;
}

/* Temporary placeholder div to style limit header */
.placeholder{
  width:4.5em;
}

/* entire limit container height definition */
.limitContainer {
  height: 14em;
}

/* Container for each min/max display */
.minMaxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .8em;
  padding-right: 0em;
}

/* title for each min/max display */
.minMaxTitle {
  font-size: 1.1em;
  padding: .4em;
}

/* font size for limit value */
.limitValue {
  font-size: 3em;
  margin-right: .5em;
}

/* MIN or MAX label */
.minMaxLabel {
  padding: 1em;
  padding-top:1.4em;
  margin-left: -2em;
  text-decoration: underline;
}

/* all children of dataTable font color */
.dataTable * {
  color: white!important;
}

/* redefine universal table cell padding */
.MuiTableCell-sizeSmall {
  padding: 1.05em!important;
}

/* remove borders of td */
.MuiTableBody-root:last-child td{
  border: 0!important;
}

/* redefine table row borders */
tr {
  border-bottom: 1px solid white;
}

/* remove bottom border of table's last child */
tr:last-child {
  border-bottom: 0;
}

/* define background color for charts to match entire background */
.concChart {
  background-color: #223D72;
}

/* flex for all charts */
.chartContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* margin for divs that hold canvases */
.canvasContainer {
  margin: .5em;
}

/* margins and flex for up/down buttons */
.buttonContainer {
  display:flex;
  flex-direction: column;
  margin-right: -.5em;
  margin-top: .5em;
}

/* placeholder div for styling limit container header */
.placeHolderTwo {
  width: 2.5em;
}

/* style warning when temp/conc is out of range */
.warning {
  color: red;
  font-weight: bold;
  margin-top: -.9em;
}
